<h3>Add a new Word</h3>

<form action="/words_form" method="post">
  <div class="form-group">
    <label for="word_name">Enter your word:</label>
    <input name="word_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add word</button>
</form>
