<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <style>
      body {
        font-family: serif;
        font-size: 20px;
      }
      h1 {
        font-variant: small-caps;
        font-size: 50px;
      }
    </style>
    <meta charset="utf-8">
    <title>Words</title>
  </head>
  <body>
    <div class="top">

    </div>
    <div class="container">
      <a href="/">HOME</a>
      <div class="jumbotron">
        <h1>Defining Words</h1>
      </div>
      <%= yield %>
      <br>
    </div>
  </body>
</html>
