<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <meta charset="utf-8">
    <title>Words</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Defining Words</h1>
      </div>
      <%= yield %>
      <br>
      <a href="/">HOME</a>
    </div>
  </body>
</html>
